<div class="container">
    <div class="col-10">
        <footer>
            <div class="footer text-secondary">
                <div class="footer-copyright">
                    <h6> {{ 'Ministério do' | uppercase }} </h6>
                    <h5> {{ 'Meio Ambiente' | uppercase }} </h5>
                </div>
                <!-- <div class="footer-address">
                    Esplanada dos Ministérios - Bloco B, Eixo Monumental, Brasília-DF
                </div> -->
            </div>
        </footer>
    </div>
</div>
<div id="footer-fullsize" class="w-100">&nbsp;</div>
