
<body style="margin-top: -53px;">
  <div class="d-flex gap-3 align-items-center">
    <fa-icon [icon]="icon_iniciativa" class="m-0 icon-container" style="color: var(--font-title-main);" id="icon-toBar"></fa-icon>
    <p style="font-size: 35px;
    font-weight: 600;
    color: var(--font-title-main); margin: 0; ">Iniciativas</p>
  </div>
  <div class="row row-main">
     <div class="col-12">
      <div class="card w-100" style="height: 100vh; margin-top: 29px;">
        <p>Iniciativas</p>
      </div>
    </div>
  </div>
</body>

